<DOCTYPE html>
  <%- include ./partials/head %>
  <body>
    <%- include ./partials/navbar %>
    <div class="jumbotron">
      <div class="container text-center">
          <h2 class="display-4">Welcome to Book Trading Club</h2>
          <p>This is a fullstack application that you can search the book you want and made a book trading request with other peers</p>
          <!-- <p><a class="btn btn-primary btn-lg" href="/search">Search for Books</a></p> -->
          <form action="/search" method="get">
            <div class="form-group">
              <div class="input-group col-lg-8 offset-lg-2">
                <input type="text" class="form-control" placeholder="Enter Book Title" name="title">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="submit">Search</button>
                </span>
              </div>
            </div>
          </form>
      </div>
      
    </div>
    <div id="recentSearch" class="container">
      <h1>Recent Search</h1>

      <div class="row mt-4 mb-4">
        <% books.forEach(function(book){ %>
          <div class="col-md-4 mb-4">
              <div class="card">
                <h6 class="card-header"><%= book.title %></h6>
                <div class="card-block mt-2">
                  <h6 class="card-title ml-4">ISBN_13: <span id="isbn"><%= book.industryIdentifiers[0].identifier %></span></h6>
                  <h6 class="card-subtitle text-muted ml-4">Publisher: <span><%= book.publisher %></span></h6>
                </div>
                <img class="center-block mt-3 mb-3" style="height: 168px; width: 128px; display: block;" src="<%= book.thumbnail %>" alt="Card image">
                <div class="card-block">
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="<%= book.link %>" class="card-link btn btn-primary btn-block" target="_blank">More Info</a>
                </div>
              </div>
          </div>  
        <% }) %>
      </div>
    </div>
    <br>
    <!-- Footer -->
    <%- include ./partials/footer %>
    
    <!--Script -->
    <%- include ./partials/script %>
  </body>
</DOCTYPE>