<DOCTYPE html>
  <%- include ./partials/head %>
  <body>
    <%- include ./partials/navbar %>
    <div class="jumbotron">
      <div class="container text-center">
          <h1 class="display-3">Welcome to Book Trading Club</h1>
          <p>This is a fullstack application that you can search the book you want and made a book trading request with other peers</p>
          <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
      </div>
      
    </div>
    <div id="recentSearch" class="container">
      <h1>Recent Search</h1>

      <div class="row mt-4 mb-4">
        <% books.forEach(function(book){ %>
          <div class="col-md-4 mb-4">
              <div class="card">
                <h4 class="card-header"><%= book.title %></h4>
                <div class="card-block">
                  <h5 class="card-title">ISBN_13: <span id="isbn"><%= book.industryIdentifiers[0].identifier %></span></h5>
                  <h6 class="card-subtitle text-muted">Publisher: <span><%= book.publisher %></span></h6>
                </div>
                <img class="center-block" style="height: 168px; width: 128px; display: block;" src="<%= book.thumbnail %>" alt="Card image">
                <div class="card-block">
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="<%= book.link %>" class="card-link btn btn-primary btn-block" target="_blank">More Info</a>
                </div>
              </div>
          </div>  
        <% }) %>
      </div>
    </div>
    <br>
    <!-- Footer -->
    <%- include ./partials/footer %>
    
    <!--Script -->
    <%- include ./partials/script %>
  </body>
</DOCTYPE>